{% for error in errors %}
{{error}}
{% endfor %}

<form method="post">
	<input type="hidden" value="{{ tag.id }}" name="id">
	<label for="name_tag">Nom du Tag</label>
	<input type="text" value="{{ tag.name_tag }}" name="name_tag" id="name_tag">
	<button>Submit</button>
</form>
