{% extends 'layout.html.twig' %}

{% block content %}
	<div class="d-flex flex-column align-items-center mt-4">
		<h1>Ajout de menu</h1>
		<a href="/admin">Back</a>
	</div>
	{% include 'Item/_formMenu.html.twig' %}
{% endblock %}
