{% extends 'layout.html.twig' %}

{% block content %}
  {% if notAdmin %}
    <div class="d-flex flex-column align-items-center mt-4">
      <h1>Ajout d'une note</h1>
      <a href="/userConnected">Back</a>
    </div>
    {% include 'Item/_formMenu.html.twig' %}
  {% else %}
    <div class="d-flex flex-column align-items-center mt-4">
      <h1>Ajout de menu</h1>
      <a href="/admin">Back</a>
    </div>
    {% include 'Item/_formMenu.html.twig' %}
  {% endif %}
{% endblock %}
