{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Editer le cuisinier : {{ cook.name_cook }}</h1>
    {% include 'Item/_formCook.html.twig' %}
    <a href="/admin">Back</a>
{% endblock %}
