{% extends 'layout.html.twig' %}

{% block content %}
    {% if notAdmin %}
		<h1>Editer la note</h1>
		{% include 'Item/_formMenu.html.twig' %}
		<a href="/userConnected">Back</a>
	{% else %}
		<h1>Editer le menu : {{ menu.name_menu }}</h1>
        {% include 'Item/_formMenu.html.twig' %}
        <a href="/admin">Back</a>
	{% endif %}
{% endblock %}
