{% extends 'layout.html.twig' %}

{% block content %}
  <h1>Apprenez à cuisiner vous-même grâce à StrasCook</h1>
  <p>
      N'hésitez plus et réservez l'un des nombreux cours que nous vous proposons basés sur nos menus 
      et épatez votre famille et vos amis !
  </p>
{% endblock %}